<div *ngIf="prodotto">
  <div class="singleCard">
    <!-- Bottone per eliminare il prodotto (solo se l'utente è loggato come admin) -->
    <button *ngIf="isLogged && admin" class="deleteProdotto" (click)="deleteprodotto(prodotto.id)">
      <fa-icon [icon]="['fas', 'trash-arrow-up']" class="trash"></fa-icon>
    </button>
    <div class="d-md-flex">
      <div>
        <!-- Immagine del prodotto -->
        <img [src]="prodotto.immagineUrl" alt="Immagine del prodotto">
      </div>
      <div>
        <!-- Dettagli del prodotto -->
        <h5 class="px-3 fw-bold">Titolo: {{ prodotto.titolo }}</h5>
        <p class="px-3 fw-bold">Brand: {{ prodotto.brand }}</p>
        <p class="px-3 fw-bold">Categoria: {{ prodotto.categoria }}</p>
        <p class="px-3 fw-bold">Descrizione: {{ prodotto.descrizione }}</p>
        <p class="px-3 fw-bold">Colore: {{ prodotto.colore }}</p>
        <p class="px-3 fw-bold">Quantita: {{ prodotto.quantita }}</p>
        <div class="d-flex align-items-center">
          <!-- Prezzo del prodotto -->
          <p class="w-50 mt-3 ms-3"><strong>Prezzo: {{ prodotto.prezzo | currency:"EUR" }}</strong></p>
          <div class="d-flex justify-content-end align-items-center detFoot w-100 ms-3 mt-3">
            <!-- Bottone per modificare il prodotto (solo se l'utente è loggato come admin) -->
            <button *ngIf="isLogged && admin" [routerLink]="['/edit', prodotto.id]">EDIT</button>
            <!-- Bottone per aggiungere il prodotto alla lista dei desideri (solo se l'utente è loggato) -->
            <button class="button" *ngIf="isLogged">WISH</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
