<div class="contaiener-fluid">
  <nav class="navbar navbar-expand-lg p-0 bg-body-tertiary">
    <div class="container-fluid">
      <a routerLink="home" routerLinkActive="p-0 router-link-active">
        <img src="/assets/imgs/logo.png" alt="logo" class="logo rounded p-0"
      /></a><button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link d-none d-sm-none d-md-block line" routerLink="/home">HOME</a>
          <a class="nav-link d-none d-sm-none d-md-block line" routerLink="/recensioni">RECENSIONI</a>
          <a class="nav-link d-none d-sm-none d-md-block line" routerLink="/valutazioni">VALUTAZIONI</a>
        </div>
      </div>
    </div>
    <div>
      <a *ngIf="isLogged" routerLink="/ordine" class="d-flex align-items-center">
      </a>
      <a class="line d-flex align-items-center" routerLink="/userprofile">
        <p *ngIf="isLogged" class="d-none d-lg-block line m-0 ms-2">{{user.utente.nome}}</p>
        <p *ngIf="!isLogged" class="m-0 ms-2">Login</p>
      </a>
    </div>
  </nav>
</div>
