.logo{
  width: 75px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.login{
  text-decoration: none;
  color: black;
  padding: 10px;
}
.login:hover{
  border: 1px solid black;
  border-radius: 40px;
  background-color: black;
  color: white;
}


