.cont{
  max-height: 100%;
}
main {
  margin-top: 10px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 85vh;
  overflow-y: scroll;
  width: 100%;
  box-sizing: border-box;
}
