.cont{
  max-height: 100%;
}
main {
  padding: 2rem 0 ;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 85vh;
  overflow-y: scroll;
  width: 100vw;
  box-sizing: border-box;
}
