.cont{
  box-sizing: border-box;
  margin: 0 auto;
}

.card-container {
  padding-top: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin: 1rem 0rem;

  @media (min-width: 768px) {
    grid-template-columns: repeat(5, 1fr);
  }
}


