<div  class="container create">
  <form (ngSubmit)="submitForm()">

    <!-- Campo "Url Img" -->
    <fieldset>
      <legend>Informazioni generali</legend>
      <div class="form-group">
        <label for="urlImmagine">Url Img:</label>
        <!-- Input per l'URL dell'immagine del prodotto -->
        <input type="url" id="urlImmagine" name="urlImmagine" class="form-control" required [(ngModel)]="prodotto.immagineUrl">
      </div>

      <!-- Campo "Titolo" -->
      <div class="form-group">
        <label for="titolo">Titolo:</label>
        <!-- Input per il titolo del prodotto -->
        <input type="text" id="titolo" name="titolo" class="form-control" required [(ngModel)]="prodotto.titolo">
      </div>

      <!-- Campo "Descrizione" -->
      <div class="form-group">
        <label for="descrizione">Descrizione:</label>
        <!-- Input per la descrizione del prodotto -->
        <input type="text" id="descrizione" name="descrizione" class="form-control" required [(ngModel)]="prodotto.descrizione" >
      </div>

      <!-- Altri campi per le informazioni del prodotto come Brand, Colore, Quantità, Dimensione, Categoria, Prezzo -->
      <!-- Ogni campo ha un'etichetta (label) e un input associato -->

    </fieldset>

    <!-- Bottone "Crea" -->
    <button type="submit">Crea</button>
  </form>
</div>

