<form [formGroup]="form" *ngIf="editMode">
  <!-- Campo Nome -->
  <div>
    <label for="nome">Nome:</label>
    <input class="form-control" type="text" id="nome" formControlName="nome">
  </div>
  <!-- Messaggio di avviso se il campo Nome non è valido e è stato toccato -->
  <div *ngIf="isValidAndTouched('nome')" class="alert alert-warning">Non è un nome valido</div>

  <!-- Campo Cognome -->
  <div>
    <label for="cognome">Cognome:</label>
    <input class="form-control" type="text" id="cognome" formControlName="cognome">
  </div>
  <!-- Messaggio di avviso se il campo Cognome non è valido e è stato toccato -->
  <div *ngIf="isValidAndTouched('cognome')" class="alert alert-warning">Non è un cognome valido</div>

  <!-- Campo Username -->
  <div>
    <label for="username">Username:</label>
    <input class="form-control" type="text" id="username" formControlName="username">
  </div>
  <!-- Messaggio di avviso se il campo Username non è valido e è stato toccato -->
  <div *ngIf="isValidAndTouched('username')" class="alert alert-warning">Non è un username valido</div>

  <!-- Campo Email -->
  <div>
    <label for="email">Email:</label>
    <input class="form-control" type="text" id="email" formControlName="email">
  </div>
  <!-- Messaggio di avviso se il campo Email non è valido e è stato toccato -->
  <div *ngIf="isValidAndTouched('email')" class="alert alert-warning">Non è una mail valida</div>

  <!-- Campo Password -->
  <div>
    <label for="password">Password:</label>
    <input class="form-control" type="password" id="password" formControlName="password">
  </div>
  <!-- Messaggio di avviso se il campo Password non è valido e è stato toccato -->
  <div *ngIf="isValidAndTouched('password')" class="alert alert-warning">
    <p>Non è una password valida. La password deve contenere:</p>
    <ul>
      <li>Minimo 8 caratteri</li>
      <li>Almeno un numero</li>
      <li>Almeno una lettera maiuscola</li>
      <li>Almeno una lettera minuscola</li>
      <li>Almeno un carattere speciale</li>
    </ul>
  </div>

  <!-- Pulsanti di azione -->
  <div class="d-flex justify-content-between mt-3">
    <!-- Slot per eventuali contenuti aggiuntivi -->
    <ng-content></ng-content>
    <!-- Pulsante Salva -->
    <div class="d-flex">
      <button [disabled]="!form.valid" class="btn bottone" (click)="submit()">Salva</button>
    </div>
  </div>
</form>

<!-- Messaggio di caricamento -->
<div *ngIf="loading">Caricamento...</div>
